{% extends "demo_base.html" %}

{% block header %}    
    <script type="text/javascript" language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/icplayer/icplayer.nocache.js"></script>
    
    <script language="javascript">
		var player;
      	function icOnAppLoaded(){
	        // Load assessment
    	    player = icCreateBook('_icplayer');
	        player.load('{{ STATIC_URL }}/content/book1/lesson.ic.xml');
      	}
    </script>
    
{% endblock %}
    
{% block content %}
   	<h1>Dog breeds</h1>
	<div id="_icplayer"></div>
{% endblock %}

