{% extends "base.html" %}

{% block header %}    
    <script type="text/javascript" language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/icplayer/icplayer.nocache.js"></script>
    <script type="text/javascript" language="javascript" src="http://www.matrobot.com/mra.js"></script>
    
    <script language="javascript">
		var player;
		var session = _mra_generate_session();
      	function icOnAppLoaded(){
	        // Load assessment
    	    player = icCreatePlayer('_icplayer');
	        player.load('{{ STATIC_URL }}/content/dogs/lesson.ic.xml');
	        player.onStatusChanged(function(type, source, value){
	        	var score = getCurrentLessonScore();
	            _mra_send('3001', session, source, score);
	       	});
      	}
      	
      	function getCurrentLessonScore(){
    		var ps = player.getPlayerServices();
    		var model = ps.getPresentation();
    		var scoreService = ps.getScore();
    		var sumOfScore = 0.0;
    		var count = 0;
    		for(var i = 0; i < model.getPageCount(); i++){
    			var page = model.getPage(i);
    			if(page.isReportable()){
    				count += 1;
    				var score = scoreService.getPageScore(page.getName());
    				sumOfScore += score['score']/score['maxScore']; 
    			}
    		}
    		
    		var lessonScore = sumOfScore/count;
    		return lessonScore;
    	}
    </script>
    
{% endblock %}
    
{% block content %}
   	<h1>Dog breeds</h1>
	<div id="_icplayer"></div>
{% endblock %}
