{% extends "base.html" %}

{% block content %}
	<h1>Examples</h1>
	
	<h3 style="margin-top:1em">Absolute layout</h3>
	<div class="row">
		<ul class="thumbnails">
	  		<li class="span3">
    			<a href="/demo/dogs.html" class="thumbnail">
					<img src="{{STATIC_URL}}/content/dogs/preview.png"/>
					<p style="text-align:center;margin-top:1em">
						Dogs
					</p>
	    		</a>
	  		</li>
	  		<li class="span3">
    			<a href="/demo/demo1.html" class="thumbnail">
					<img src="{{STATIC_URL}}/content/demo1/preview.png"/>
					<p style="text-align:center;margin-top:1em">
						Clothing vocabulary
					</p>
	    		</a>
	  		</li>
	  		<li class="span3">
    			<a href="/demo/demo2.html" class="thumbnail">
					<img src="{{STATIC_URL}}/content/demo2/preview.png"/>
					<p style="text-align:center;margin-top:1em">
						Ordering activity demo
					</p>
	    		</a>
	  		</li>
	  		<li class="span3">
    			<a href="/demo/video.html" class="thumbnail">
					<img src="{{STATIC_URL}}/content/video/preview.png"/>
					<p style="text-align:center;margin-top:1em">
						Video demo
					</p>
	    		</a>
	  		</li>
	  	</ul>
	</div>
	
	<h3 style="margin-top:1em">Flow layout</h3>
	<div class="row">
		<ul class="thumbnails">
	  		<li class="span3">
    			<a href="/demo/flow1.html" class="thumbnail">
					<img src="{{STATIC_URL}}/content/demo2/preview.png"/>
					<p style="text-align:center;margin-top:1em">
						Ordering flow layout
					</p>
	    		</a>
	  		</li>
	  		<li class="span3">
    			<a href="/demo/flow2.html" class="thumbnail">
					<img src="{{STATIC_URL}}/content/flow2/media/food.png"/>
					<p style="text-align:center;margin-top:1em">
						Food flow layout
					</p>
	    		</a>
	  		</li>
	  	</ul>
	</div>
	
	<h3 style="margin-top:1em">External examples</h3>
	<ul>
		<li><a href="http://www.mauthor.com/embed/1009048">Circles and Inscribed Polygons</a>
		<li><a href="http://www.mauthor.com/embed/1008049">Friction</a>
		<li><a href="http://www.mauthor.com/embed/1015581">Reproduction in Invertebrates</a>
		<li><a href="http://www.mauthor.com/embed/951516">Continuous and Line Spectra</a>
	</ul>
{% endblock %}
