{% extends "base.html" %}

{% block content %}
	<h1>Examples</h1>
	


	<h3 style="margin-top:1em">Absolute layout</h3>
	<div class="row">
		<ul class="thumbnails">
	  		<li class="span3">
    			<a href="http://www.mauthor.com/embed/4913797533794304" target="_blank" class="thumbnail">
					<img src="{{STATIC_URL}}/content/uc-math/preview.png"/>
					<p style="text-align:center;margin-top:1em">
						mCurriculum - Mathematics
					</p>
	    		</a>
	  		</li>
	  		<li class="span3">
    			<a href="http://www.mauthor.com/embed/6163932322463744" target="_blank" class="thumbnail">
					<img src="{{STATIC_URL}}/content/uc-chemistry/preview.png"/>
					<p style="text-align:center;margin-top:1em">
						mCurriculum - Chemistry
					</p>
	    		</a>
	  		</li>
	  		<li class="span3">
    			<a href="http://www.mauthor.com/embed/5641893752864768" target="_blank" class="thumbnail">
					<img src="{{STATIC_URL}}/content/skills-grammar/preview.png"/>
					<p style="text-align:center;margin-top:1em">
						Skills - Grammar
					</p>
	    		</a>
	  		</li>
	  		<li class="span3">
    			<a href="http://www.mauthor.com/embed/6085759832424448" target="_blank" class="thumbnail">
					<img src="{{STATIC_URL}}/content/skills-vocab/preview.png"/>
					<p style="text-align:center;margin-top:1em">
						Skills - Vocabulary
					</p>
	    		</a>
	  		</li>
	  	</ul>
	</div>


	<h3 style="margin-top:1em"></h3>
	<div class="row">
		<ul class="thumbnails">
	  		<li class="span3">
    			<a href="http://www.mauthor.com/embed/6374502536577024" target="_blank" class="thumbnail">
					<img src="{{STATIC_URL}}/content/laskutaito1/preview.png"/>
					<p style="text-align:center;margin-top:1em">
						Lower Primary Math - 4.01. Number 10 – Foundation
			
					</p>
	    		</a>
	  		</li>
	  		<li class="span3">
    			<a href="http://www.mauthor.com/embed/4952227916546048" target="_blank" class="thumbnail">
					<img src="{{STATIC_URL}}/content/laskutaito2/preview.png"/>
					<p style="text-align:center;margin-top:1em">
						Lower Primary Math - 4.04. Measuring – Foundation
					</p>
	    		</a>
	  		</li>
			<li class="span3">
    			<a href="http://www.mauthor.com/embed/6385215752634368" target="_blank" class="thumbnail">
					<img src="{{STATIC_URL}}/content/prof-comp/preview.png"/>
					<p style="text-align:center;margin-top:1em">
						Professional Competence - Training Material
					</p>
	    		</a>
	  		</li>


			<li class="span3">
			</li>
	  	</ul>


	</div>

	
{% endblock %}
