{% extends "base.html" %}

{% block content %}
   	<h1>About us</h1>
   	
   	<div>

<img src="{{STATIC_URL}}/content/logo.png"/>

<br>
<br>
Learnetic S.A. is a world-leading educational software publisher and e-learning technology provider, based in Poland. Its content, publishing tools and eLearning platforms are widely used by publishers, teachers and students in over 30 countries, including Poland, United States, United Kingdom, Holland, Spain, Portugal, Malaysia, Singapore, Chile, and Australia. The company’s talented team of software engineers specializes in designing applications for education markets and is dedicated to satisfying the diverse needs of contemporary educators and learners.
<br>
<br>
Interested in working together? Feel free to send as an mail: <a href=mailto:info@learnetic.com?Subject=icplayer.com" target="_top">info@learnetic.com</a> please visit our website: <a href="http://www.learnetic.com/">www.learnetic.com</a>
<br><br>
   		Source code can be downloaded from <a href="https://github.com/icplayer/icplayer">Github.com</a>.
   	</div>

   	<div style="margin-top:1em">
   		<a href="http://www.mauthor.com/public/player">Download latest distribution</a>
   	</div>

{% endblock %}
