{% extends "base.html" %}

{% block content %}
	<div class="">
       	<h1>Welcome to icplayer demos</h1>
       	<p>
       		icplayer is player for interactive lessons. 
       		It is is open sourced and hosted on <a href="https://github.com/icplayer/icplayer">github.com</a>
       	</p> 
       	
       	<div style="margin-top:1em"></div>
       	<h4>Documentation</h4>
       	<ul>
       		<li><a href="/doc/create_addon.html">Create addon</a></li>
       	</ul> 
       	
       	<div style="margin-top:1em"></div>
       	<h4>Example lessons</h4>
       	<ul>
       		<li><a href="/demo/demo1.html">Single page with text module</a></li>
       		<li><a href="/demo/demo2.html">Ordering activity demo</a></li>
       		<li><a href="/demo/video.html">Video demo</a></li>
       	</ul> 
     </div>
{% endblock %}
