{% extends "base.html" %}

{% block content %}
	<div class="row-fluid well">
		<div class="span8">
	       	<h1>icplayer project site</h1>
	       	<h4 style="margin-top:2em">icplayer is</h4>
	       	<ul>
	       		<li>
	       			Open source HTML5 player for interactive lessons
	       		</li>
	       		<li>
	       			Supports many different activity types
	       		</li>
	       		<li>Works in any browser and on any devices (PC, tables and phones)</li>
	       		<li>You can get <a href="http://mauthor.com">professional support and editor</a> for it</li> 
	       	</ul> 
	       	
	       	<div style="margin-top:2em"></div>
		       	<a href="/doc" class="btn btn-primary btn-large">Documentation</a>
		       	<a href="/demo" class="btn btn-warning btn-large">Examples</a>
		    </div
		</div>
		<div class="span4">
			<img src="{{STATIC_URL}}/images/welcome.jpg"/>
		</div>
	</div>
{% endblock %}
