{% extends "base.html" %}

{% block header %}    
    <script type="text/javascript" language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}/icplayer/icplayer.nocache.js"></script>
    
    <script language="javascript">
		var player;
      	function icOnAppLoaded(){
	        // Load assessment
    	    player = icCreatePlayer('_icplayer');
	        player.load('{{ STATIC_URL }}/content/{%block demo_path%}{%endblock%}/lesson.ic.xml');
      	}
    </script>
    
    <script type="text/javascript"
  		src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
{% endblock %}
    
{% block content %}
   	<h1>{%block demo_title%}{%endblock%}</h1>
	<div id="_icplayer"></div>
{% endblock %}